/* .imageElement {
    border-radius: 30px;
} */

.sliderLayoutContainer--banner{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
}

.sliderArrows {
    position: absolute;
    bottom: -0.8%;
    margin: 0.5%;
}
.caretIcon {
    height: 18px;
    color: #fff;
}

.paginationDot--isActive {
    background-color: #59ff80;
}
.paginationDotsContainer {
    position: absolute;
    bottom: -0.8%;
}
