.searchBarContainer {
    background-color: #212121;
    width: 600px;
}

.autoCompleteOuterContainer{
    background-color: #212121;
  
}
.imageElement{
   margin-bottom: 4%;
   width: 912px;
   height: 274px;
   border-radius: 30px;
  
   
}
.searchIcon{
    color: #fff;
}
@media (max-width: 1024px) {
    .logoLink, .logoContainer,.sizeDesktop, .logoImage {
        visibility: hidden;    
    }
}
.logoLink, .logoContainer,.sizeDesktop, .logoImage{

    width: 100%;
    max-width: 150px;
}